.CoursesPageSection {
  padding-top: 10px;
  padding-bottom: 100px;
}
.CoursesPageCoreSectionDiv {
  width: 1170px;
  font-size: 0;
  margin: 0 auto;
  max-width: 100%;
  color: #252525;
  text-align: left;
  padding-left: 25px;
  padding-right: 25px;
}
/**/
.CoursesPageCoreSectionDiv1 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  margin-left: 0 !important;
  width: 100%;
}
.CoursesPageCoreSectionDiv1 h2 {
  margin-top: 2.5rem;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 2.228rem;
  letter-spacing: 0rem;
  line-height: 1.35;
  text-transform: none;
  text-align: center;
}
/**/
.CoursesPageCoreSectionCardContainer ul {
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  align-items: flex-start;
  position: relative;
  width: 100%;
  z-index: 4;
}
