.btn {
  background-color: #008081;
  border-color: transparent;
  color: #f4ece7;
  padding: 5.5px 16px;
  border-radius: 30px;
  border-style: solid;
  border-width: 2px;
  font-weight: 500;
  line-height: 1.60;
  font-size: 1.05rem;
  cursor: pointer;
  white-space: nowrap;
}
@media (max-width: 990px){
  .btn {
    width: 100%;
    background-color: transparent;
    border-color: transparent;
    color: #FF914C;
    text-align: center;

  }
  .btn:hover{
    color: #f4ece7;
  }
}


